[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tests = "pytest --cov=inventory tests/"

[packages]
fastapi = "*"
uvicorn = "*"
tortoise-orm = "*"
aiosqlite = "*"

[requires]
python_version = "3.8"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[dev-packages.e1839a8]
path = "."
editable = true
